<div class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Sayfa Ara">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>

            <li>
                <a href="/Management/Home/Index"><i class="fa fa-home fa-fw"></i> Anasayfa</a>
            </li>

            <li>
                <a href="/Management/SiteSetting/Index"><i class="fa fa-cogs fa-fw"></i> Site Ayarları</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-bookmark fa-fw"></i> Dil<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Management/Language/Index">Diller</a>
                    </li>
                    <li>
                        <a href="/Management/Language/Create">Dil Ekle</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="#"><i class="fa fa-anchor fa-fw"></i> Menü<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Management/Menu/Index">Menüler</a>
                    </li>
                    <li>
                        <a href="/Management/Menu/Create">Menü Ekle</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="#"><i class="fa fa-file fa-fw"></i> Sayfa<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Management/Page/Index">Sayfalar</a>
                    </li>
                    <li>
                        <a href="/Management/Page/Create">Sayfa Ekle</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="#"><i class="fa fa-list-ul fa-fw"></i> Kategori<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Management/Category/Index">Kategoriler</a>
                    </li>
                    <li>
                        <a href="/Management/Category/Create">Kategori Ekle</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="#"><i class="fa fa-edit fa-fw"></i> İçerik<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Management/Article/Index">İçerikler</a>
                    </li>
                    <li>
                        <a href="/Management/Article/Create">İçerik Ekle</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="#"><i class="fa fa-users fa-fw"></i> Kullanıcı<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Management/User/Index">Kullanıcılar</a>
                    </li>
                    <li>
                        <a href="/Management/User/Create">Kullanıcı Ekle</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->